.login-box{
    padding-top:120px;
}

h1{
    color:$color-blue;
    font-weight:600;
    font-size:24px;
    text-align:center;
    margin-bottom:60px;
}

input{
    width:250px;
    height:28px;
    display:block;
    margin:10px auto;
    border:1px solid $color-blue;
    border-radius:5px;
    
}

button{
    width:250px;
    height:35px;
    display:block;
    color:white;
    background:$color-blue;
    margin:10px auto;
    border:1px solid $color-blue;
    border-radius:5px;
}

::placeholder{
    color:gray;
    text-align:center;
}
